# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries used by Data Scientist.
- Table content of Data Science Tools.
- Examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. JavaScript
4. C++
5. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. PyTorch
5. SciPy

|Data Science Tools|
|------------------|
|RStudio           |
|Apache Spark      |
|TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Tan Jun San